<div>
  <h1>Cart</h1>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div *ngFor="let item of cartItems; let index = index">
      <h3>
        {{ item.wineVersion.wine.name }} - {{ item.quantity }} -
        {{ item.wineVersion.price * item.quantity }} HUF
      </h3>
    </div>
  </div>
  <ng-template #emptyCart>
    <h3>Your cart is empty.</h3>
  </ng-template>
  <h3>Total: {{ totalPrice }} HUF</h3>
  <div class="order">
    <button *ngIf="!showOrder" (click)="onOrder()">Order</button>
    <div *ngIf="address.length > 0">
        <div class="order-Form">
            <form [formGroup]="orderForm" (ngSubmit)="sendOrder()" >
                <label for="Address">Select address</label>
                <br/>
                <select id="Address" formControlName="Address">
                    <option value="" disabled>Select address</option>
                    <option *ngFor="let item of address" [value]="item">
                        {{item.street}}, {{item.houseNumber}}, {{item.city}}
                    </option>
                </select>
                <br/>
                <label for="DeliveryType">Delivery Type</label>
                <br/>
                <select id="DeliveryType" formControlName="DeliveryType">
                    <option value="" disabled>Select delivery type</option>
                    <option value="Pickup">Pickup</option>
                    <option value="GLS-home">GLS Home delivery</option>
                </select>
                <br/>
                <label for="Payment">Payment</label>
                <br/>
                <select id="Payment" formControlName="Payment">
                    <option value="" disabled>Select payment</option>
                    <option value="Card">Card</option>
                    <option value="CoD">Cash on delivery</option>
                    <option value="Transfer">Bank transfer</option>
                </select>
                <br/>
                <label for="Notes">Notes:</label>
                <br/>
                <input id="Notes" type="text" formControlName="Notes">
                <button type="submit" [disabled]="orderForm.invalid">Send order</button>
            </form>
        </div>
    </div>
    <div class="address-form" *ngIf="showOrder && address.length === 0">
        <form [formGroup]="addressForm" (ngSubmit)="onOrderSubmit()">
            <div class="form-group">
                <label for="street">Street</label>
                <input
                  id="street"
                  type="text"
                  formControlName="street"
                  required
                />
                <div *ngIf="addressForm.get('street')?.invalid && addressForm.get('street')?.touched">
                  Street is required
                </div>
              </div>
        
              <div class="form-group">
                <label for="houseNumber">House Number</label>
                <input
                  id="houseNumber"
                  type="text"
                  formControlName="houseNumber"
                  required
                />
                <div *ngIf="addressForm.get('houseNumber')?.invalid && addressForm.get('houseNumber')?.touched">
                  House number is required
                </div>
              </div>
        
              <div class="form-group">
                <label for="zipCode">Zip Code</label>
                <input
                  id="zipCode"
                  type="text"
                  formControlName="zipCode"
                  required
                />
                <div *ngIf="addressForm.get('zipCode')?.invalid && addressForm.get('zipCode')?.touched">
                  Zip code is required
                </div>
              </div>
        
              <div class="form-group">
                <label for="city">City</label>
                <input
                  id="city"
                  type="text"
                  formControlName="city"
                  required
                />
                <div *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched">
                  City is required
                </div>
              </div>
        
              <div class="form-group">
                <label for="country">Country</label>
                <input
                  id="country"
                  type="text"
                  formControlName="country"
                  required
                />
                <div *ngIf="addressForm.get('country')?.invalid && addressForm.get('country')?.touched">
                  Country is required
                </div>
              </div>
        
            <button type="submit">Add address</button>


        </form>
    </div>

  </div>

</div>
