<h1>Admin Site</h1>

<div class="admin-buttons">
    <button (click)="showComponent('wineForm')">Wine Form</button>
    <button (click)="showComponent('wineVariantForm')">Wine Variant Form</button>
    <button (click)="showComponent('inventoryForm')">Inventory Form</button>
    <button (click)="showComponent('inventory')">Inventory</button>
</div>

<app-admin-wine-form *ngIf="selectedComponent === 'wineForm'"></app-admin-wine-form>
<app-admin-wineVariant-form *ngIf="selectedComponent === 'wineVariantForm'"></app-admin-wineVariant-form>
<app-inventory-form *ngIf="selectedComponent === 'inventoryForm'"></app-inventory-form>
<app-inventory-details-form></app-inventory-details-form>
<app-inventory *ngIf="selectedComponent === 'inventory'"></app-inventory>
