<h2>Inventory:</h2>
<div class="inventoryTable" *ngIf="inventory.length > 0">
  <table>
    <thead>
      <tr>
        <th>Wine Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Alcohol Content</th>
        <th>Quantity</th>
        <th>Delete item</th>
        <th>Edit item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventory">
        <td>{{ item.Name }}</td>
        <td>{{ item.Year }}</td>
        <td>{{ item.Price }} HUF</td>
        <td>{{ item.AlcoholContent }}%</td>
        <td>{{ item.Quantity }} bottles</td>
        <td>
          <button>Delete</button>
        </td>
        <td>
          <button>Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
